@model Carcassonne.Models.GameModel

<div>

    @for (int i = 1; i <= Model.NumberOfPlayers; i++)
    {
        <div>
            Name: <input type="text" id="Player@(i)" />
            <select id="PlayerColor@(i)">
                <option value="Red">Red</option>
                <option value="Green">Green</option>
                <option value="Blue">Blue</option>
                <option value="Yellow">Yellow</option>
                <option value="Black">Black</option>

            </select>
        </div>
    }

    <input type="button" id="SubmitPlayersButton" value="Start Game" />
</div>

<script>
    $("#SubmitPlayersButton").on("click", StartGame);
</script>

