@model Carcassonne.Models.GameModel

@{
    ViewBag.Title = "Home Page";
}

<div id="GameContainer">
    
    @Html.LabelFor(m=>m.NumberOfPlayers) @Html.TextBoxFor(m=>m.NumberOfPlayers)

    <input type="button" id="CreateGameButton" value="Set Up Game" />

    <div id="PlayerInformation">


    </div>

</div>
